h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 50px;
}

h2 {
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    color: #a01adc;
}

h3 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a01adc;
}

h4 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a01adc;
    text-align: center;
}

.sobremi {
    position: relative;
    top: 60px;
    left: 50%;
}

.div1 {
    background-color: black;
    height: 150px;
    padding: 40px;
}

.parrafo {
    font-family: Helvetica;   
    font-size: 20px;
    color: gray;
    text-align: justify;
    line-height: 0.8cm;
}

ul {
    font-family: Helvetica;   
    font-size: 20px;
    color: gray;
    text-align: justify;
    line-height: 0.8cm;
}

.exp {
    position: relative;
    top: 245px;
    left: 50px;
}

.ski {
    position: absolute;
    top: 700px;
    left: 45%;
}

.hob {
    position: relative;
    left: 73% ;
}

.div3 {
    position: relative;
    top: 2px;
    padding: 50px;
}